* {
    text-align: center;
}

.btn {
    border-radius: 50%;
    height: 38px;
    margin-right: 30px;
    margin-bottom: 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(150, 155, 155);
}

.images {
    border-radius: 50%;
    box-shadow: 0px 0px 4px 1px;
}

.timeDurationDiv{
    margin-bottom: 20px;
}